/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://s39.wheelsage.org/format/picture/picture-gallery-full/a/amg/mercedes-benz/mercedes-_sl_63_4matic/mercedes-amg_sl_63_4matic_8_7.jpg');
    --home-image: url('https://i.pinimg.com/originals/88/4e/8b/884e8be64d6ec2f77d23c9c572ebce11.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
